:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --primary-color: #f9f7fe;
  --specialist-color: #6c63ff;
}
body {
  font-family: var(--default-font);
  font-weight: 400px;
  display: block;
}
.hero {
  text-align: center;
  padding-top: 150px;
  margin: 0px;
  background: var(--primary-color);
  padding-bottom: 50px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  display: block;
}
h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
  display: block;
}

h2 {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
}

.contact {
  background-color: var(--specialist-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin: 30px;
  border-color: var(--specialist-color);
}
img {
  border-radius: 8px;
  box-shadow: var(--specialist-color);
  max-height: 500px;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--specialist-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin: 30px;
  border-color: var(--specialist-color);
}
p {
  line-height: 30px;
}
.content-container {
  padding-top: 50px;
  margin-left: 30px;
  padding-bottom: 50px;
}
.content {
  margin: 50px;
}
.content-info-container {
  background-color: #f5f4fb;
  border-radius: 8px;
  box-shadow: var(--specialist-color);
  padding-bottom: 20px;
  padding-top: 10px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    line-height: 1.5;
    padding-top: 30px;
  }
  .hero {
    padding: 80px 20px;
  }
  .feature-project {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
    display: block auto 0;
    margin: auto;
  }
  .content-container {
    padding-top: 10px;
  }
  .contact {
    margin-top: 50px;
  }
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font);
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font);
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}
